$('#activities_for_manager').html("<%= j (render 'activities_for_manager_tmpl') %>");

window.request_to_path='<%=@request_to_path%>';


// Today's activities for all users (for manager)
function initMap_for_manager() {
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {lat: <%= @today_acticities_for_manager_center_latitude %>,
                lng: <%= @today_acticities_for_manager_center_longitude %>
                },
        mapTypeId: 'terrain'
    });

    <% @activities_for_manager.each_with_index do |activity, index| %>
        <% if activity.schedule_latitude && activity.schedule_longitude %>
            <%# Change icon image based on user. %>
            var image<%=activity.id%> = '<%=image_path('upcoming_' + (activity.user_id).to_s + '.png')%>';
            
            var marker<%=activity.id%> = new google.maps.Marker({
                position: new google.maps.LatLng(<%=activity.schedule_latitude%>, <%=activity.schedule_longitude%>),
                map: map,
                icon: image<%=activity.id%>
            });
            var content<%=activity.id%> = "";
            content<%=activity.id%> = "<h4><%=activity.schedule_place_name%></h4><p><%=activity.schedule_start_at.try(:strftime, "%Y-%m-%d %l:%M:%S %p")%></p>"
            + '<p>' + '<%=activity.user.full_name%>' + '</p>'
            + '<%= link_to "Detail", activity_path(activity), class: "btn btn-xs btn-primary", :target=>["_blank"] %>'
            + '';
            
            var infowindow<%=activity.id%> = new google.maps.InfoWindow({
                content: content<%=activity.id%>,
                maxWidth: 200
            });
            google.maps.event.addListener(marker<%=activity.id%>, 'click', function() {
                infowindow<%=activity.id%>.open(map,marker<%=activity.id%>);
            });
        <% end %>
    <% end %>
    return map;
}
window.map = initMap_for_manager();

    <% if @all_customers %>
      <% @all_customers.each_with_index do |customer, index| %>
        <% if customer.latitude && customer.longitude %>
          var image<%=customer.id%> = '<%=image_path('clock.png')%>';
          var marker<%=customer.id%> = new google.maps.Marker({
              position: new google.maps.LatLng(<%=customer.latitude%>, <%=customer.longitude%>),
              map: window.map
          });
          var content<%=customer.id%> = "";
          content<%=customer.id%> = "<h4><%=customer.company_name%></h4>"
            + '<%= link_to "Detail", customer_path(customer), class: "btn btn-xs btn-primary", :target=>["_blank"] %>'
            + '';
          
          var infowindow<%=customer.id%> = new google.maps.InfoWindow({
              content: content<%=customer.id%>,
              maxWidth: 200
          });
          google.maps.event.addListener(marker<%=customer.id%>, 'click', function() {
              infowindow<%=customer.id%>.open(window.map,marker<%=customer.id%>);
          });
        <% end %>
      <% end %>
    <% end %>