

<% if current_user.employee? %>
<div class="container">
  <div class="row">
    <%= link_to "Include All Customers", root_path(include_all_customers: true), class: "btn btn-xs btn-success" %>
    <div class="col-xs-12" style="padding-bottom:5px;">
      <div id="map" class="col-xs-12" style='height: 400px; text-align:center;'></div>
    </div>
    
    <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          //markers = handler.addMarkers(<%=raw @hash.to_json %>);
          markers = handler.addMarkers(<%=raw @hash2.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
          
      // 現在地取得処理
      function initMap(map) {
        // Geolocation APIに対応している
        if (navigator.geolocation) {
          // 現在地を取得
          navigator.geolocation.getCurrentPosition(
            // 取得成功した場合
            function(position) {
              // 緯度・経度を変数に格納
              var mapLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
              
              // マップオプションを変数に格納
              var mapOptions = {
                zoom : 15,          // 拡大倍率
                center : mapLatLng  // 緯度・経度
              };
              // マップオブジェクト作成
              // var map = new google.maps.Map(
              //   document.getElementById("map"), // マップを表示する要素
              //   mapOptions         // マップオプション
              // );
              //　マップにマーカーを表示する
              var marker = new google.maps.Marker({
                map : map,             // 対象の地図オブジェクト
                position : mapLatLng,   // 緯度・経度
                icon : '<%=image_path('person.png')%>'
              });
              //alert(mapLatLng);
              
              // Hayashida
              jQuery('#latitude').val(position.coords.latitude);
              jQuery('#longitude').val(position.coords.longitude);
              //alert(position.coords.latitude + ', ' + position.coords.longitude);
            },
            // 取得失敗した場合
            function(error) {
              // エラーメッセージを表示
              switch(error.code) {
                case 1: // PERMISSION_DENIED
                  alert("位置情報の利用が許可されていません");
                  break;
                case 2: // POSITION_UNAVAILABLE
                  alert("現在位置が取得できませんでした");
                  break;
                case 3: // TIMEOUT
                  alert("タイムアウトになりました");
                  break;
                default:
                  alert("その他のエラー(エラーコード:"+error.code+")");
                  break;
              }
            }
          );
        // Geolocation APIに対応していない
        } else {
          alert("この端末では位置情報が取得できません");
        }
      }

    <% if current_user.staff? %>
      // Today's activities for current user
      function initMap2() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          <%# center: {lat: 40.742966, lng: -74.006865}, %>
          center: {lat: <%= @today_acticities_center_latitude %>, lng: <%= @today_acticities_center_longitude %>},
          mapTypeId: 'terrain'
        });

        // var flightPlanCoordinates = [
        //   {lat: 37.772, lng: -122.214},
        //   {lat: 21.291, lng: -157.821},
        //   {lat: -18.142, lng: 178.431},
        //   {lat: -27.467, lng: 153.027}
        // ];
        var flightPlanCoordinates = [
          <% @activities_for_staff.each do |activity| %>
            <% if activity.schedule_latitude && activity.schedule_longitude %>
              <%= "{lat: " + activity.schedule_latitude.to_s + ", lng: " + activity.schedule_longitude.to_s + "}," %>
            <% end %>
          <% end %>
        ];
        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        flightPath.setMap(map);

        // var image='<%=image_path('clock.png')%>';
        // var marker1=new google.maps.Marker({
        //     position: new google.maps.LatLng(40.742966, -74.006865),
        //     map: map,
        //     icon: image
        // });
        // var infowindow1=new google.maps.InfoWindow({
        //     content: "<b>Test</b><h2>Hey!</h2>",
        //     maxWidth:200
        // });
        // google.maps.event.addListener(marker1, 'click', function() {
        //     infowindow1.open(map,marker1);
        // });
        
        <% @activities_for_staff.each_with_index do |activity, index| %>
          <% if activity.schedule_latitude && activity.schedule_longitude %>
            <%# Change icon image based on activity status. %>
            <% if activity.activity_status_id == 1 %>
              var image<%=activity.id%> = '<%=image_path('upcoming_' + (index + 1).to_s + '.png')%>';
            <% elsif activity.activity_status_id == 2 %>
              var image<%=activity.id%> = '<%=image_path('clock.png')%>';
            <% elsif activity.activity_status_id == 5 %>
              var image<%=activity.id%> = '<%=image_path('canceled.png')%>';
            <% else %>
              var image<%=activity.id%> = '<%=image_path('number_' + (index + 1).to_s + '.png')%>';
            <% end %>
            
            var marker<%=activity.id%> = new google.maps.Marker({
                position: new google.maps.LatLng(<%=activity.schedule_latitude%>, <%=activity.schedule_longitude%>),
                map: map,
                icon: image<%=activity.id%>
            });
            var content<%=activity.id%> = "";
            content<%=activity.id%> = "<h4><%=activity.schedule_place_name%></h4><p><%=activity.schedule_start_at.try(:strftime, "%Y-%m-%d %l:%M:%S %p")%></p>"
            <% if activity.activity_status_id == 1 %>
                  <%# , remote: true %>
              + '<%= form_for activity, url: checkin_activities_path(activity), method: :update, id: "activity-form" do |f| %>'
              + '<%= f.hidden_field :id %>'
              + '<%= button_tag(type: :submit, class: "btn btn-sm btn-success", name: "check-in") do %>Check-In<% end %>&nbsp;'
              + '<% end %>'
            <% elsif activity.activity_status_id == 2 %>
              + '<%= link_to "Check-Out", checkout_activities_path(activity), class: "btn btn-xs btn-danger" %>'
            <% else %>
              + '<%= link_to "Detail", activity_path(activity), class: "btn btn-xs btn-primary", :target=>["_blank"] %>'
            <% end %>
              + '';
            
            var infowindow<%=activity.id%> = new google.maps.InfoWindow({
                content: content<%=activity.id%>,
                maxWidth: 200
            });
            google.maps.event.addListener(marker<%=activity.id%>, 'click', function() {
                infowindow<%=activity.id%>.open(map,marker<%=activity.id%>);
            });
          <% end %>
        <% end %>

        <% if @all_customers %>
          <% @all_customers.each_with_index do |customer, index| %>
            <% if customer.latitude && customer.longitude %>
              var image<%=customer.id%> = '<%=image_path('clock.png')%>';
              var marker<%=customer.id%> = new google.maps.Marker({
                  position: new google.maps.LatLng(<%=customer.latitude%>, <%=customer.longitude%>),
                  map: map
              });
              var content<%=customer.id%> = "";
              content<%=customer.id%> = "<h4><%=customer.company_name%></h4>"
                + '<%= link_to "Detail", customer_path(customer), class: "btn btn-xs btn-primary", :target=>["_blank"] %>'
                + '';
              
              var infowindow<%=customer.id%> = new google.maps.InfoWindow({
                  content: content<%=customer.id%>,
                  maxWidth: 200
              });
              google.maps.event.addListener(marker<%=customer.id%>, 'click', function() {
                  infowindow<%=customer.id%>.open(map,marker<%=customer.id%>);
              });
            <% end %>
          <% end %>
        <% end %>

        return map;
      }
      initMap2();

    <% elsif current_user.manager? %>
      // Today's activities for all users (for manager)
      function initMap3() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          <%# center: {lat: 40.742966, lng: -74.006865}, %>
          center: {lat: <%= @today_acticities_for_manager_center_latitude %>,
                   lng: <%= @today_acticities_for_manager_center_longitude %>
                   },
          mapTypeId: 'terrain'
        });
        
        <% @activities_for_manager.each_with_index do |activity, index| %>
          <% if activity.schedule_latitude && activity.schedule_longitude %>
              <%# Change icon image based on user. %>
              var image<%=activity.id%> = '<%=image_path('upcoming_' + (activity.user_id).to_s + '.png')%>';
              
              var marker<%=activity.id%> = new google.maps.Marker({
                  position: new google.maps.LatLng(<%=activity.schedule_latitude%>, <%=activity.schedule_longitude%>),
                  map: map,
                  icon: image<%=activity.id%>
              });
              var content<%=activity.id%> = "";
              content<%=activity.id%> = "<h4><%=activity.schedule_place_name%></h4><p><%=activity.schedule_start_at.try(:strftime, "%Y-%m-%d %l:%M:%S %p")%></p>"
                + '<p>' + '<%=activity.user.full_name%>' + '</p>'
                + '<%= link_to "Detail", activity_path(activity), class: "btn btn-xs btn-primary", :target=>["_blank"] %>'
                + '';
              
              var infowindow<%=activity.id%> = new google.maps.InfoWindow({
                  content: content<%=activity.id%>,
                  maxWidth: 200
              });
              google.maps.event.addListener(marker<%=activity.id%>, 'click', function() {
                  infowindow<%=activity.id%>.open(map,marker<%=activity.id%>);
              });
          <% end %>
        <% end %>
        return map;
      }
      initMap3();
    <% end %>
    //initMap(map);
    </script>
  </div>
  <div class="row">
    <%= form_tag update_current_location_path, method: :update, class: 'form-horizontal' do %>
      <div class="form-group">
        <%= hidden_field_tag :latitude, value: '' %>
        <%= hidden_field_tag :longitude, value: '' %>
        <!--<div class="col-xs-offset-2 col-xs-2"><%= button_tag(type: :submit, class: "btn btn-sm btn-success") do %>Check-in<% end %></div>-->
      </div>
    <% end %>
  </div>

<%= render 'welcome/activities_for_manager' %>

<%= render 'welcome/activities_for_staff' %>

<% if @todos %>
  <div class="row col-md-12" style="padding-bottom:30px;">
    <blockquote>Open TODOs for you</blockquote>
    <% if !@todos.exists? %>
      No open TODOs.
    <% else %>
      <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th class="col-md-1"></th>
            <th class="col-md-1">Status</th>
            <th class="col-md-1">Date Created</th>
            <th class="col-md-1">Priority</th>
            <th class="col-md-1">Due Date</th>
            <th class="col-md-3">Todo</th>
            <th class="col-md-4">Description</th>
          </tr> 
        </thead>
        <tbody>
          <% @todos.each_with_index do |todo, index| %>
          <tr>
            <td scope="row" style="text-align:center; vertical-align:middle;">
              <%= link_to "Detail", activity_path(id: todo.activity_id), class: "btn btn-primary btn-sm" %>
            </td>
            <td class="col-md-1"><%= todo.todo_status.todo_status_name %></td>
            <td class="col-md-1"><%= todo.date_created %></td>
            <td class="col-md-1"><%= todo.todo_priority.todo_priority_name %></td>
            <td class="col-md-1"><%= todo.due_date %></td>
            <td class="col-md-1"><%= todo.todo_name %></td>
            <td class="col-md-1"><%= todo.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>


</div>

<% end %>