
<% if current_user.employee? %>
<div class="container">
  <div class="row">
    <div class="col-xs-12" style="padding-bottom:5px;">
      <div id="map" class="col-xs-12" style='height: 400px; text-align:center;'></div>
    </div>
    
    <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          //markers = handler.addMarkers(<%=raw @hash.to_json %>);
          markers = handler.addMarkers(<%=raw @hash2.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
        
    // 現在地取得処理
    function initMap() {
      // Geolocation APIに対応している
      if (navigator.geolocation) {
        // 現在地を取得
        navigator.geolocation.getCurrentPosition(
          // 取得成功した場合
          function(position) {
            // 緯度・経度を変数に格納
            var mapLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            /*
            // マップオプションを変数に格納
            var mapOptions = {
              zoom : 15,          // 拡大倍率
              center : mapLatLng  // 緯度・経度
            };
            // マップオブジェクト作成
            var map = new google.maps.Map(
              document.getElementById("map"), // マップを表示する要素
              mapOptions         // マップオプション
            );
            //　マップにマーカーを表示する
            var marker = new google.maps.Marker({
              map : map,             // 対象の地図オブジェクト
              position : mapLatLng   // 緯度・経度
            });
            alert(mapLatLng);
            */
            // Hayashida
            jQuery('#latitude').val(position.coords.latitude);
            jQuery('#longitude').val(position.coords.longitude);
            //alert(position.coords.latitude + ', ' + position.coords.longitude);
          },
          // 取得失敗した場合
          function(error) {
            // エラーメッセージを表示
            switch(error.code) {
              case 1: // PERMISSION_DENIED
                alert("位置情報の利用が許可されていません");
                break;
              case 2: // POSITION_UNAVAILABLE
                alert("現在位置が取得できませんでした");
                break;
              case 3: // TIMEOUT
                alert("タイムアウトになりました");
                break;
              default:
                alert("その他のエラー(エラーコード:"+error.code+")");
                break;
            }
          }
        );
      // Geolocation APIに対応していない
      } else {
        alert("この端末では位置情報が取得できません");
      }
    }
    
      function initMap2() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 40.742966, lng: -74.006865},
          mapTypeId: 'terrain'
        });

        // var flightPlanCoordinates = [
        //   {lat: 37.772, lng: -122.214},
        //   {lat: 21.291, lng: -157.821},
        //   {lat: -18.142, lng: 178.431},
        //   {lat: -27.467, lng: 153.027}
        // ];
        var flightPlanCoordinates = [
          <% Activity.all.each do |activity| %>
            <% if activity.schedule_latitude && activity.schedule_longitude %>
              <%= "{lat: " + activity.schedule_latitude.to_s + ", lng: " + activity.schedule_longitude.to_s + "}," %>
            <% end %>
          <% end %>
        ];
        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        flightPath.setMap(map);

        // var image='<%=image_path('clock.png')%>';
        // var marker1=new google.maps.Marker({
        //     position: new google.maps.LatLng(40.742966, -74.006865),
        //     map: map,
        //     icon: image
        // });
        // var infowindow1=new google.maps.InfoWindow({
        //     content: "<b>Test</b><h2>Hey!</h2>",
        //     maxWidth:200
        // });
        // google.maps.event.addListener(marker1, 'click', function() {
        //     infowindow1.open(map,marker1);
        // });
        
        <% Activity.all.each_with_index do |activity, index| %>
          <% if activity.schedule_latitude && activity.schedule_longitude %>
              <% if activity.activity_status_id == 1 %>
                var image<%=activity.id%> = '<%=image_path('upcoming_' + (index + 1).to_s + '.png')%>';
              <% elsif activity.activity_status_id == 2 %>
                var image<%=activity.id%> = '<%=image_path('clock.png')%>';
              <% else %>
                var image<%=activity.id%> = '<%=image_path('number_' + (index + 1).to_s + '.png')%>';
              <% end %>
              
              var marker<%=activity.id%> = new google.maps.Marker({
                  position: new google.maps.LatLng(<%=activity.schedule_latitude%>, <%=activity.schedule_longitude%>),
                  map: map,
                  icon: image<%=activity.id%>
              });
              var content<%=activity.id%> = "";
              content<%=activity.id%> = "<h4><%=activity.schedule_place_name%></h4><p><%=activity.schedule_datetime.try(:strftime, "%Y-%m-%d %l:%M:%S %p")%></p>"
                + '<%= button_tag(type: :submit, class: "btn btn-sm btn-success") do %>Check-In<% end %>&nbsp;'
                + '<%= button_tag(type: :submit, class: "btn btn-sm btn-danger") do %>Check-Out<% end %>';
              
              var infowindow<%=activity.id%> = new google.maps.InfoWindow({
                  content: content<%=activity.id%>,
                  maxWidth: 200
              });
              google.maps.event.addListener(marker<%=activity.id%>, 'click', function() {
                  infowindow<%=activity.id%>.open(map,marker<%=activity.id%>);
              });
          <% end %>
        <% end %>
      }
    //initMap();
    initMap2();
    </script>
  </div>
  <div class="row">
    <%= form_tag update_current_location_path, method: :update, class: 'form-horizontal' do %>
      <div class="form-group">
        <%= hidden_field_tag :latitude, value: '' %>
        <%= hidden_field_tag :longitude, value: '' %>
        <div class="col-xs-offset-2 col-xs-2"><%= button_tag(type: :submit, class: "btn btn-sm btn-success") do %>Check-in<% end %></div>
      </div>
    <% end %>
  </div>
<% if @today_activities %>
  <div class="row" style="padding-bottom:30px;">
    <table class="table table-bordered table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th class="col-md-1"></th>
          <th class="col-md-1">#</th>
          <th class="col-md-3">Datetime</th>
          <th class="col-md-7">Place</th>
        </tr> 
      </thead>
      <tbody>
        <% @today_activities.each_with_index do |activity, index| %>
        <tr>
          <td scope="row" style="text-align:center; vertical-align:middle;">
            <%= link_to "Detail", activity_path(activity), class: "btn btn-primary btn-sm" %>
          </td>
          <td scope="row" style="text-align:center; vertical-align:middle;"><%=index + 1%></td>
          <td><%= activity.schedule_datetime.try(:strftime, "%Y-%m-%d %l:%M:%S %p") %></td>
          <td><%= activity.schedule_place_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

</div>

<% end %>