
<div class="container">
  <h3>Opportunity</h3>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading" style="font-weight:bold;">1. Opportunity Information</div>
      <div class="panel-body">
        <%= form_for(@opportunity, :html => {class: "form-horizontal", role: "form"}) do |f| %>
          <div class="form-group row">
            <div class="col-md-2">
              <%= f.label :id, "Record#" %>
              <%= f.text_field :id, class: "form-control", :readonly => true %>
            </div>
            <div class="col-md-2">
              <%= f.label :date_created, "Date" %>
              <%= f.text_field :date_created, value:f.object.date_created.try(:strftime,"%Y-%m-%d"), class: "form-control datepicker", data:{ provide:'datepicker' } %>
            </div>
            <div class="col-md-4">
              <%= f.label :opportunity_stage_id, "Stage" %>
              <%= f.collection_select :opportunity_stage_id, OpportunityStage.all, :id, :opportunity_stage_name, {:include_blank => true}, {class: 'form-control'} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <%= f.label :customer_id, "Customer" %>
              <%= f.collection_select :customer_id, Customer.all, :id, :company_name, {:include_blank => true}, {class: 'form-control'} %>
            </div>
            <div class="col-md-3">
              <%= f.label :user_id, "Representative" %>
              <%= f.collection_select :user_id, User.all, :id, :full_name, {:include_blank => true}, {class: 'form-control'} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <%= f.label :opportunity_name, "Opportunity Name" %>
              <%= f.text_field :opportunity_name, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <%= f.label :opportunity_description, "Opportunity Description" %>
              <%= f.text_area :opportunity_description, rows: 5, class: "form-control", style: "resize : none;" %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <%= f.label :lead_source_id, "Lead Source" %>
              <%= f.collection_select :lead_source_id, LeadSource.all, :id, :lead_source_name, {:include_blank => true}, {class: 'form-control'} %>
            </div>
            <div class="col-md-4">
              <%= f.label :grade_id, "Grade" %>
              <%= f.collection_select :grade_id, Grade.all, :id, :grade_name, {:include_blank => true}, {class: 'form-control'} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <%= f.label :expected_revenue_amount, "Expected Revenue Amount" %>
              <%= f.text_field :expected_revenue_amount, class: "form-control" %>
            </div>
            <div class="col-md-4">
              <%= f.label :current_expected_revenue_amount, "Current Expected Revenue Amount" %>
              <%= f.text_field :current_expected_revenue_amount, class: "form-control" %>
            </div>
            <div class="col-md-4">
              <%= f.label :actual_sales_amount, "Actual Sales Amount" %>
              <%= f.text_field :actual_sales_amount, class: "form-control" %>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-md-10">
            <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'opportunities/activities_result' %>
</div>
