
<% if @activities %>
  <div class="row">

    <% if @activities.all.count != 0 %>
      <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th class="col-xs-1"></th>
            <th class="col-xs-1">Date</th>
            <th class="col-xs-2">Opportunity Name</th>
            <th class="col-xs-1">Opportunity Stage</th>
            <th class="col-xs-1">Due Date</th>
            <th class="col-xs-1">Priority</th>
          </tr>
        </thead>
        <tbody>
          <% @activities.each do |activity| %>
          <tr>
            <td scope="row" class="col-xs-1" style="text-align:center; vertical-align:middle;">
              <%= link_to "Detail", activity_path(activity), class: "btn btn-info btn-sm" %>
            </td>
            <td class="col-xs-1"><%= activity.date_created %></td>
            <td class="col-xs-2"><%= activity.opportunity.opportunity_name if activity.opportunity %></td>
            <td class="col-xs-1"><%= activity.opportunity.opportunity_stage.opportunity_stage_name if activity.opportunity && activity.opportunity.opportunity_stage %></td>
            <td class="col-xs-1"><%= activity.due_date %></td>
            <td class="col-xs-1"><%= activity.priority.priority_name if activity.priority %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @activities %>
    <% end %>
  </div>
<% end %>