
<div class="container">
  <h3>Activity</h3>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading" style="font-weight:bold;">1. Activity</div>
      <div class="panel-body">
        <%= form_for(@activity, :html => {class: "form-horizontal", role: "form"}) do |f| %>
          <div class="form-group row">
            <div class="col-md-2">
              <%= f.label :id, "Activity#" %>
              <%= f.text_field :id, class: "form-control", :readonly => true %>
            </div>
            <div class="col-md-10">
              <%= f.label :opportunity_id, "Opportunity" %>
              <%= f.collection_select :opportunity_id, Opportunity.all, :id, :opportunity_name, {:include_blank => true}, {class: 'form-control'} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-2">
              <%= f.label :activity_status_id, "Status" %>
              <%= f.collection_select :activity_status_id, ActivityStatus.all, :id, :activity_status_name, {:include_blank => true}, {class: 'form-control'} %>
            </div>
            <div class="col-md-2">
              <%= f.label :probability, "Probability (%)" %>
              <%= f.text_field :probability, class: "form-control" %>
            </div>
            <div class="col-md-2">
              <%= f.label :date_created, "Date Created" %>
              <%= f.text_field :date_created, value:f.object.date_created.try(:strftime,"%Y-%m-%d"), class: "form-control datepicker", data:{ provide:'datepicker' } %>
            </div>
            <div class="col-md-2">
              <%= f.label :opportunity_stage_id, "Opportunity Stage" %>
              <%= f.collection_select :opportunity_stage_id, OpportunityStage.all, :id, :opportunity_stage_name, {:include_blank => true}, {class: "form-control"} %>
            </div>
            <div class="col-md-2">
              <%= f.label :log_type_id, "Log Type" %>
              <%= f.collection_select :log_type_id, LogType.all, :id, :log_type_name, {:include_blank => true}, {class: "form-control"} %>
            </div>
            <div class="col-md-2">
              <%= f.label :due_date, "Due Date" %>
              <%= f.text_field :due_date, value: f.object.due_date.try(:strftime, "%Y-%m-%d"), class: "form-control datepicker", data: { provide:'datepicker'} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <%= f.label :user_id, "Assign To" %>
              <%= f.collection_select :user_id, User.all, :id, :full_name, {:include_blank => true}, {class: 'form-control'} %>
            </div>
            <div class="col-md-2">
              <%= f.label :communication_type_id, "Communication Type" %>
              <%= f.collection_select :communication_type_id, CommunicationType.all, :id, :communication_type_name, {:include_blank => true}, {class: "form-control"} %>
            </div>
            <div class="col-md-2">
              <%= f.label :priority_id, "Priority" %>
              <%= f.collection_select :priority_id, Priority.all, :id, :priority_name, {:include_blank => true}, {class: "form-control"} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <%= f.label :schedule_start_at, "Schedule (Start)" %>
              <%= f.text_field :schedule_start_at, value: f.object.schedule_start_at.try(:strftime, "%Y-%m-%d %l:%M:%S %p"), class: "form-control datetimepicker",
                      data: { provide:'datetimepicker', "date-format" => 'YYYY-MM-DD hh:mm:ss A'} %>
            </div>
            <div class="col-md-4">
              <%= f.label :schedule_end_at, "Schedule (End)" %>
              <%= f.text_field :schedule_end_at, value: f.object.schedule_end_at.try(:strftime, "%Y-%m-%d %l:%M:%S %p"), class: "form-control datetimepicker",
                      data: { provide:'datetimepicker', "date-format" => 'YYYY-MM-DD hh:mm:ss A'} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <%= f.label :schedule_place_name, "Meeting Place" %>
              <%= f.text_field :schedule_place_name, class: "form-control" %>
            </div>
            <div class="col-md-2">
              <%= f.label :schedule_latitude, "Latitude" %>
              <%= f.text_field :schedule_latitude, class: "form-control" %>
            </div>
            <div class="col-md-2">
              <%= f.label :schedule_longitude, "Latitude" %>
              <%= f.text_field :schedule_longitude, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <%= f.label :description, "Subject & Description" %>
              <%= f.text_area :description, rows: 4, class: "form-control" %>
            </div>
          </div>
          <!--
          <div class="form-group row">
            <div class="col-md-4">
              <label class="control-label col-md-2">Attachment</label>
              <input type="text" class="form-control" value=""/>
            </div>
          </div>
          -->

          <div class="form-group">
            <div class="col-md-10">
            <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading" style="font-weight:bold;">2. Acticity Result</div>
      <div class="panel-body">
        <%= form_for(@activity, :html => {class: "form-horizontal", role: "form"}) do |f| %>
          <div class="form-group row">
            <div class="col-md-4">
              <%= f.label :actual_start_at, "Datetime (Start)" %>
              <%= f.text_field :actual_start_at, value: f.object.actual_start_at.try(:strftime, "%Y-%m-%d %l:%M:%S %p"), class: "form-control datetimepicker",
                      data: { provide:'datetimepicker', "date-format" => 'YYYY-MM-DD hh:mm:ss A'} %>
            </div>
            <div class="col-md-4">
              <%= f.label :actual_end_at, "Datetime (End)" %>
              <%= f.text_field :actual_end_at, value: f.object.actual_end_at.try(:strftime, "%Y-%m-%d %l:%M:%S %p"), class: "form-control datetimepicker",
                      data: { provide:'datetimepicker', "date-format" => 'YYYY-MM-DD hh:mm:ss A'} %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              <%= f.label :activity_feeling_id, "Feeling" %>
              <%= f.collection_radio_buttons :activity_feeling_id, ActivityFeeling.all, :id, :activity_feeling_name, {class: "checkbox-inline"} %>
            </div>
            <div class="col-md-9">
              <%= f.label :attendees, "Attendees" %>
              <%= f.text_field :attendees, class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <%= f.label :comment, "Follow up - Comments" %>
              <%= f.text_area :comment, rows: 4, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
            <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'activities/todos_result'%>

</div>
