
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <% if current_user && current_user.supplier? %>
          <%= link_to "Opportunity Management", quotations_path, class: "navbar-brand" %>
        <% else %>
          <%= link_to "Opportunity Management", root_path, class: "navbar-brand" %>
        <% end %>
        
        <% if current_user %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <% if current_user.employee? %>
          <ul class="nav navbar-nav col-md-2">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customer <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!--<li><%= link_to "Employees", employees_path %></li>
                <li><%= link_to "Add New Employee", new_employee_path %></li>-->
                <li><%= link_to "Customers", customers_path %></li>
                <li><%= link_to "Add New Customer", new_customer_path %></li>
                <li><%= link_to "Customer Search", customer_search_path %></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav col-md-2">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opportunity <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Opportunities", opportunities_path %></li>
                <li><%= link_to "Add New Opportunity", new_opportunity_path %></li>
                <li><%= link_to "Activities", activities_path %></li>
                <li><%= link_to "Add New Activity", new_activity_path %></li>
              </ul>
            </li>
          </ul>
            <% if false %>
            <ul class="nav navbar-nav col-md-2">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quotation <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Quotations", quotations_path %></li>
                  <li><%= link_to "Add New Quotation", new_quotation_path %></li>
                </ul>
              </li>
            </ul>
            <% end %>

          <% end %>
          
          <ul class="nav navbar-right col-md-3">
            <li class="col-md-8 user-name text-right">
              <i class="fa fa-user"></i>
              <%= current_user.email %>
            </li>
            <li class="col-md-4 logout"><%= link_to "logout", destroy_user_session_path,
                  class: "btn btn-xs btn-danger", method: :delete %></li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>